<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://www.clipartmax.com/png/middle/414-4147696_favicon-ico-news-favicon.png"
      type="image/x-icon"
    />
    <title><%= pageTitle%></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      background-color: #f5f5f5;
    }
  </style>
  <body>
    <header class="header py-6 bg-white">
      <div class="container px-20 flex items-center justify-between">
        <h1 class="font-bold text-xl text-gray-900 uppercase">Todo</h1>
        <nav class="text-sm text-gray-500">
          <ul class="flex items-center justify-between gap-5">
            <li><a href="/">Home</a></li>
            <li><a href="/SignIn">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
