<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserTodo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <header class="header py-5 bg-white">
      <div class="container px-20 flex items-center justify-between">
        <h1 class="font-bold text-gray-600 uppercase">
          User<span class="text-red-600">Todo</span>
        </h1>

        <nav class="text-sm text-gray-500">
          <ul class="flex items-center justify-between gap-5">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="px-20 container py-10">
        <button
          class="text-sm text-gray-600 uppercase px-5 py-2 bg-red-600 text-white rounded"
        >
          Add user
        </button>

        <div class="my-5">
          <div class="overflow-x-auto relative">
            <table
              class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
            >
              <thead class="text-sm text-gray-900 uppercase bg-white">
                <tr>
                  <th scope="col" class="py-5 px-6">UserName</th>
                  <th scope="col" class="py-5 px-6">TOKEN</th>
                  <th scope="col" class="py-5 px-6">Numbers</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-300 text-gray-700 border-b">
                  <th scope="row" class="py-4 px-6">Ariful Islam</th>
                  <td class="py-4 px-6">10001</td>
                  <td class="py-4 px-6">32323232323</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
