<%- include('components/header') %>
<main>
  <section class="px-20 container py-10">
    <a
      href="/"
      class="text-sm text-gray-100 uppercase px-5 py-2.5 bg-gray-900 text-white rounded"
    >
      Back
    </a>

    <div class="my-5">
      <div class="grid lg:grid-cols-3 grid-cols-1 items-center justify-center">
        <div class="w-full lg:col-span-1"></div>
        <div class="w-full lg:col-span-1">
          <form
            id="signUpForm"
            class="px-10 py-8 bg-white rounded border-t-4 border-gray-900"
          >
            <div class="mb-4">
              <p
                id="error"
                class="text-red-500 bg-gray-100 py-2.5 rounded text-center text-sm"
              ></p>
            </div>
            <div class="mb-4">
              <label for="name" class="text-xs uppercase mb-1 block"
                >User Name</label
              >
              <input
                type="text"
                class="block w-full py-2.5 px-3 border focus:outline-none text-sm placeholder:text-xs rounded"
                placeholder="John Doe"
                required
                id="userName"
                name="userName"
              />
            </div>
            <div class="mb-4">
              <label for="name" class="text-xs uppercase mb-1 block"
                >USER Email</label
              >
              <input
                type="email"
                class="block w-full py-2.5 px-3 border focus:outline-none text-sm placeholder:text-xs rounded"
                placeholder="john@example.com"
                required
                name="email"
                id="email"
              />
            </div>
            <div class="mb-4">
              <label for="name" class="text-xs uppercase mb-1 block"
                >password</label
              >
              <input
                type="password"
                class="block w-full py-2.5 px-3 border focus:outline-none text-sm placeholder:text-xs rounded"
                placeholder="*****"
                required
                id="password"
                name="password"
              />
            </div>
            <div class="mb-2">
              <button
                type="submit"
                class="py-2.5 bg-gray-900 text-white rounded w-full text-sm hover:bg-gray-800"
              >
                Signup
              </button>
            </div>
          </form>
        </div>
        <div class="w-full lg:col-span-1"></div>
      </div>
    </div>
  </section>
</main>

<script>
  const form = document.getElementById("signUpForm");
  const errorMessageBox = document.getElementById("error");

  errorMessageBox.style.display = "none";

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;
    const userName = document.getElementById("userName").value;

    errorMessageBox.textContent = "";
    errorMessageBox.style.display = "none";
    try {
      const res = await fetch(
        "https://usertodo-xi.vercel.app/api/v1/user/signup",
        {
          method: "POST",
          body: JSON.stringify({
            userName,
            email,
            password,
          }),
          headers: {
            "Content-type": "application/json",
          },
        }
      );
      const result = await res.json();
      if (result.message) {
        errorMessageBox.style.display = "block";
        errorMessageBox.textContent = result.message;
      }

      if (result.userRole === "user") {
        location.assign("/");
      }

      if (result.userRole === "admin") {
        location.assign("/admin");
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
<%- include('components/footer') %>
